body, main {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
}

main {
    min-height: 100vh;
    padding: 2rem;
}

.nav-link {
    text-decoration: none;
    font-size: 1rem;
}

.navbar-brand {
    font-size: 1.5rem;
}

.card {
    background-color: #636262d7;
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
}

.card-title, .card-text {
    font-size: 15px;
    font-weight: bold;
    color: #fff;
}

.card-text {
    font-weight: normal;
}

.card-img-top {
    height: 300px;
    object-fit: cover;
}
